/code/.RProj.user
/code/.Rhistory
/code/horseshoe_model.rds
/code/Test.rds
/code/Thesis.RProj
/code/Test.stan
/code/.RData
/latex/
/papers/
.Rhistory
.RProj.user
/data/combined_data.csv
/data/clean_data.csv
/data/flat-ui__data-Mon Sep 30 2024.csv
/data/IWM_holdings.csv
.DS_Store